
* {
   margin: 0;
}

body {
  background-size: cover;
}

header {
  width: 100vw;
  height: 15vh;
  background-color: #3B507A ;
  font-size:6vh;
  font-family: Helvetica;
  text-align: center;
  padding-top: 1vh;
}

nav{
  width:20vw;
  height:52.7vw;
  background-color:#6082C7;
  float: left;
}

nav a{
  font-family:impact;
  text-align: left;
  margin-top:2vh;
  display: inline-block;
  width: 5vw;
  padding-left:2vw;
  text-decoration:none;
}

nav a:link {
	color: black; 
	}

nav a:visited {
	color: black;
	}

nav a:hover {
	color: #ffffff; 
	}

nav a:active {
	color: #ffffff;
}

article {
  background-color:#cccccc;
  width: 76vw;
  height: 107vh;
  font-family: Times New Roman;
  color:black;
  font-size: 18pt;
  text-align: left;
  padding-left:2vw;
  padding-top:3vh;
  padding-right: 2vw;
  float: left;
}

img{
  clear: both;
  padding-left:5vw ;
  background-color: #cccccc;
}

footer {
  background-color:#C4D6FB;
  width: 99vw;
  height: 24vh;
  clear: both;
  font-size: 16pt;
  font-family: Times New Roman;
  text-align: left;
  padding-left:1vw;
  padding-top: 1vh;
  color:#ffffff
}

footer a:visited {
  color:white;
}

footer a:link {
  color: white;
}

footer a:hover {
  color: #424242;
}

footer a:active {
  color: #424242;
}

ul{
  list-style-type: square;
}
